<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/controllers/source.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <h1><%= source_name %></h1>

      <h2>Modules</h2>
      <ul>
        <% modules.each do |modulee| %>
          <li>
            <%= modulee.module_name %>
          </li>
        <% end %>
      </ul>

      <h2>Related Definitions <a href="/#definition-<%= related_definitions.map(&:first).inject(0, &:|) %>">All</a></h2>
      <ul>
        <% related_definitions.each do |bit_id, definition| %>
          <li>
            <a href="/#definition-<%= bit_id %>">
              <%= definition.title %>
            </a>
          </li>
        <% end %>
      </ul>

      <h2>Reverse Dependencies</h2>
      <ul>
        <% reverse_dependencies.each do |(definition_source, method_ids)| %>
          <li>
            <a href="/sources/<%= definition_source %>">
              <%= definition_source %>
            </a>
            <small>
            <% method_ids.each_with_index do |method_id, index| %>
              <%= ', ' unless index == 0 %>
              <%= method_id.human_method_name %>
            <% end %>
            </small>
          </li>
        <% end %>
      </ul>

      <h2>Method Ids</h2>
      <ul>
        <% reverse_dependencies.values.inject(Set.new, &:union).group_by { [_1.context, _1.name] }.sort.each do |_, method_ids| %>
          <% method_id = method_ids[0] %>
          <% paths = method_ids.flat_map(&:paths).uniq.sort %>

          <li>
            <%= method_id.human_method_name %>
            <small>
            <% paths.each do |path, index| %>
              <%= '<br>' unless index == 0 %>
              <%= path %>
            <% end %>
            </small>
          </li>
        <% end %>
      </ul>
    </main>
  </body>
</html>
